{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ResPax Test Tool</title>

    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/bootstrap-table-expandable.css" %}>
    <link rel="stylesheet" href={% static "css/csv_menu.css" %}>

    <script src={% static "js/jquery-2.1.4.min.js" %}></script>
    <script src={% static "js/collapsibleTable.js" %}></script>
    <script src={% static "js/table_creation.js" %}></script>
    <script src={% static "js/xml_form.js" %}></script>
    <script src={% static "js/csv_functions.js" %}></script>
    <script src={% static "js/resize_form_plugin.js" %}></script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">

    <div class="nav navbar-header">
        <a href="https://www.respax.com/"><img id="login-img" src="{% static "img/respax-logo.png" %}"/>
        </a>
    </div>
    <div id="navbar" class="nav">

        <ul class="nav navbar-nav" id="navbarcenter">
            <li {#id="centerlist"#}>
                <form action="/test_tool/" method="post"> {% csrf_token %}
                    <input id="server_url" name="server_url" value="{{ server_url }}" hidden>
                    <input id="switch_server_button" name="switch_server_button" value="{{ switch_server_button }}"
                           hidden>
                    <button {#id="switch_server_btn"#} name="submit" value="switch_server" type="submit"
                                                       style="text-transform: uppercase">you are
                        in {{ switch_server_button }}<br>Click to change
                        mode<br> to {{ not_switch_server_button }}
                    </button>
                </form>
            </li>
            <li>
                <button id="collapseAllTableRowsbtn" onclick="collapseAllTableRows()" value="Collapse Table">COLLAPSE
                    TABLE
                </button>
            </li>

        </ul>


        <ul class="nav navbar-right">
            <li>
                <div {#class="nav backToTop"#} onclick="backToTop()">
                    <img id="to-top-img" src="{% static "img/backToTop.png" %}"/>

                    <p style="text-align: center">TO TOP</p>
                </div>
            </li>
            <li {#id="rightList"#}><a href="/logout/">LOG OUT {#<span class="sr-only">(current)</span>#}</a></li>
        </ul>


        {#        <div class="nav" style="padding-right: 10px; padding-top: 22px; float: right; height: 83px">#}
        {#            <input type="button" id="collapseAllTableRowsbtn" onclick="collapseAllTableRows()" value="Collapse Table">#}
        {#            <input type="button" id="collapseAllTableRowsbtn" onclick="collapseAllTableRows()" value="Collapse Table">#}
        {#        </div>#}

    </div>

</nav>


<div class="container" id="container">

    <h1 style="margin-top:110px;">ResPax Test Tool</h1>

    <div id="csv_menu" class="modal">

        <div class="modal-content">
            <span class="close">x</span>

            <h2 id="csv_menu_heading">Host ID</h2>

            <p id="csv_menu_text">Please select the data you would like in the csv file:</p>

            <input id="select_all_ckb" type="checkbox" onclick="selectAllCheckboxes(this)">
            <label for="select_all_ckb">Select all</label>
            <hr>
            <input id="csv_host_ids" type="checkbox">
            <label for="csv_host_ids">Host ID</label>
            <br>
            <input id="csv_tour_codes" type="checkbox">
            <label for="csv_tour_codes">Tour Code</label>
            <br>
            <input id="csv_basis" type="checkbox">
            <label for="csv_basis">Basis</label>
            <br>
            <input id="csv_sub_basis" type="checkbox">
            <label for="csv_sub_basis">Sub Basis</label>
            <br>
            <input id="csv_time_id" type="checkbox">
            <label for="csv_time_id">Time ID</label>
            <br>
            <input id="csv_pickup_key" type="checkbox">
            <label for="csv_pickup_key">Pickup Key</label>
            <hr>
            <label for="csv_separator">Separator Value:</label>
            <select id="csv_separator">
                <option value=",">Comma ,</option>
                <option value=" ">Tabs</option>
                <option value=";">Semi-colon ;</option>
                <option value="|">Pipes |</option>
                <option value="^">Carets ^</option>
            </select>
            <br>
            <button id="dwnld_csv_btn">Download CSV</button>
            <hr>
            <h2 id="csv_timer"></h2>

            <p id="csv_last_export"></p>

            <p id="csv_time_taken"></p>

        </div>

    </div>

    <form id="generate-xml-form" class="generate-xml-form"> {% csrf_token %}
        <input id="generate_xml_btn" type="submit" name="submit" value="Generate XML">

        <input id="generate_submit_btn" type="submit" name="submit" value="Generate & Submit XML">
        <input id="add_query_btn" name="add_query_btn" type="button" value="Add Query" onclick="add_query()" hidden>
        <input id="del_query_btn" name="del_query_btn" type="button" value="Delete Query" onclick="delete_query()"
               hidden>

        <input id="switch_user_btn" name="switch_user_btn" type="button" value="Switch User" onclick="switch_users()" hidden>

        <div id="method_form">

            <label for="method_name">Method Name:</label>
            <select id="method_name" name="method_name">
                <option>readHosts</option>
                <option>readCurrentLogin</option>
                <option>readHostDetails</option>
                <option>readPaymentOptions</option>
                <option>readPaxTypes</option>
                <option>readSources</option>
                <option>readCreditCardTypes</option>
                <option>readTours</option>
                <option>readCreditStatus</option>
                <option>readTourDetails</option>
                <option>readTourBases</option>
                <option>readTourTimes</option>
                <option>readTourWebDetails</option>
                <option>readTourPickup</option>
                <option>readTourPickups</option>
                <option>readTourCommissions</option>
                <option>readTourPrices</option>
                <option>readTourPricesRange</option>
                <option>readTourAvailability</option>
                <option>readTourAvailabilityRange</option>
                <option>checkReservation</option>
                <option>checkReservationAndPrices</option>
                <option>writeReservation</option>
                <option>writeCancellation</option>
                <option>Switch User</option>
                <option>ping</option>
            </select>
            <label id="host_id_label" for="host_id" hidden>Host ID:</label>
            <input id="host_id" name="host_id" type="text" hidden>

            <label id="tour_code_label" for="tour_code" hidden>Tour Code:</label>
            <input id="tour_code" name="tour_code" type="text" hidden>

            <label id="basis_label" for="basis" hidden>Basis:</label>
            <input id="basis" name="basis" type="text" hidden>

            <label id="sub_basis_label" for="sub_basis" hidden>Sub Basis:</label>
            <input id="sub_basis" name="sub_basis" type="text" hidden>

            <label id="tour_time_id_label" for="tour_time_id" hidden>Tour Time ID:</label>
            <input id="tour_time_id" name="tour_time_id" type="text" hidden>

            <label id="pickup_id_label" for="pickup_id" hidden>Pickup Key:</label>
            <input id="pickup_id" name="pickup_id" type="text" hidden>

            <label id="pickup_room_no_label" for="pickup_room_no" hidden>Pickup Room No.:</label>
            <input id="pickup_room_no" name="pickup_room_no" type="number" hidden>

            <label id="drop_off_id_label" for="drop_off_id" hidden>Drop Off ID:</label>
            <input id="drop_off_id" name="drop_off_id" type="text" hidden>

            <label id="tour_date_label" for="date" hidden>Date:</label>
            <input id="tour_date" name="tour_date" type="date" hidden>

            <label id="start_date_label" for="start_date" hidden>Start Date:</label>
            <input id="start_date" name="start_date" type="date" hidden>

            <label id="end_date_label" for="end_date" hidden>End Date:</label>
            <input id="end_date" name="date" type="date" hidden>

            <label id="pax_first_name_label" for="pax_first_name" hidden>First Name:</label>
            <input id="pax_first_name" name="pax_first_name" type="text" hidden>

            <label id="pax_last_name_label" for="pax_last_name" hidden>Last Name:</label>
            <input id="pax_last_name" name="pax_last_name" type="text" hidden>

            <label id="pax_email_label" for="pax_email" hidden>Email:</label>
            <input id="pax_email" name="pax_email" type="text" hidden>

            <label id="voucher_number_label" for="voucher_number" hidden>Voucher Number:</label>
            <input id="voucher_number" name="voucher_number" type="text" hidden>

            <label id="no_pax_adults_label" for="no_pax_adults" hidden>No. of Adults:</label>
            <input id="no_pax_adults" name="no_pax_adults" type="number" value="0" hidden>

            <label id="no_pax_child_label" for="no_pax_child" hidden>No. of Children:</label>
            <input id="no_pax_child" name="no_pax_child" type="number" value="0" hidden>

            <label id="no_pax_infant_label" for="no_pax_infant" hidden>No. of Infants:</label>
            <input id="no_pax_infant" name="no_pax_infant" type="number" value="0" hidden>

            <label id="no_pax_foc_label" for="no_pax_foc" hidden>No. of Free of Charge PAX:</label>
            <input id="no_pax_foc" name="no_pax_foc" type="number" value="0" hidden>

            <label id="no_pax_user_defined_label" for="no_pax_user_defined" hidden>No. of User Defined PAX:</label>
            <input id="no_pax_user_defined" name="no_pax_user_defined" type="number" value="0" hidden>

            <label id="general_comment_label" for="general_comment" hidden>General Comment:</label>
            <input id="general_comment" name="general_comment" type="text" hidden>

            <label id="booking_confirmed_label" for="booking_confirmed" hidden>Booking Confirmed:</label>
            <select id="booking_confirmed" name="booking_confirmed" hidden>
                <option value="-1">YES</option>
                <option value="0">NO</option>
            </select>

            <label id="payment_option_label" for="payment_option" hidden>Payment Option:</label>
            <select id="payment_option" name="payment_option" hidden>
                <option value="comm-agent/bal-pob">comm-agent/bal-pob</option>
                <option value="full-agent">full-agent</option>
                <option value="bal-agent/levy-pob">bal-agent/levy-pob</option>
                <option value="full-ccard">full-ccard</option>
                <option value="bal-ccard/levy-pob">bal-ccard/levy-pob</option>
                <option value="full-pob">full-pob</option>
                <option value="comm-ccard/bal-pob">comm-ccard/bal-pob</option>
                <option value="comm-agent/bal-ccard">comm-agent/bal-ccard</option>
            </select>

            <label id="card_name_label" for="card_name" hidden>Card Name:</label>
            <input id="card_name" name="card_name" type="text" hidden>

            <label id="card_pan_label" for="card_pan" hidden>Card PAN:</label>
            <input id="card_pan" name="card_pan" type="number" hidden>

            <label id="card_vn_label" for="card_vn" hidden>Card VN:</label>
            <input id="card_vn" name="card_vn" type="number" hidden>

            <label id="card_type_id_label" for="card_type_id" hidden>Card Type:</label>
            <input id="card_type_id" name="card_type_id" type="text" hidden>

            <label id="card_expiry_month_label" for="card_expiry_month" hidden>Card Expiry Month:</label>
            <input id="card_expiry_month" name="card_expiry_month" type="number" hidden>

            <label id="card_expiry_year_label" for="card_expiry_year" hidden>Card Expiry Year:</label>
            <input id="card_expiry_year" name="card_expiry_year" type="number" hidden>

            <label id="confirmation_no_label" for="confirmation_no" hidden>Confirmation No.:</label>
            <input id="confirmation_no" name="confirmation_no" type="number" hidden>

            <label id="reason_label" for="reason" hidden>Reason:</label>
            <input id="reason" name="reason" type="text" hidden>

            <label id="query_label" for="query" hidden>Query:</label>
            <textarea id="query" name="query" readonly hidden>[]</textarea>

            <label id="username_label" for="username" hidden>Username:</label>
            <input id="username" name="username" type="text" hidden>

            <label id="password_label" for="password" hidden>Password: </label>
            <input id="password" name="password" type="password" hidden>

            <label id="server_config_label" for="server_config" hidden>Server Config:</label>
            <select id="server_config" name="server_config" hidden>
                <option value="train">TRAINING</option>
                <option value="live">LIVE</option>
            </select>


        </div>
    </form>

    <div class="XMLRequestArea">
        <label for="xml_request">XML Request</label>
        <br>
        <br>
        <button name="submit" value="xmlrequest" type="submit" onclick="submit_xml_request()">Submit</button>
        <button name="fill_form_xml" value="fill_form_xml" type="submit" onclick="fill_form_xml()">Fill Form</button>
        <button name="hide_request_btn" value="hide_request_btn" type="submit"
                onclick="hide_xml_request_textarea(this)">Hide
        </button>

        <input id="server_url" name="server_url" value="{{ server_url }}" hidden>
        <textarea id="xml_request" name="xml_request">

        </textarea>
    </div>
    <div class="XMLRequestArea">
        <label for="xml_response">XML Response</label>
        <br>
        <br>
        <button id="xml_format_button" onclick="change_format('xml')" disabled>XML Format</button>
        <button id="table_format_button" onclick="change_format('table')">Table Format</button>
        <button id="xml_table_format_button" onclick="change_format('xml_table')">XML & Table Format</button>
        <button name="hide_response_btn" value="hide_response_btn" type="submit"
                onclick="hide_xml_response_textarea(this)">Hide
        </button>

        <textarea id="xml_response" readonly></textarea>
        <table id="table_response" class="table-response" readonly hidden></table>
    </div>

    <table id="test-tool-table" class="table table-hover table-expandable table-striped">
        <thead>
        <tr>
            <th id="test-tool-table-heading" colspan="3">Operator</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>


</body>
</html>


<script type="text/javascript">
    generateTable({{ host_name | safe }}, {{ host_id | safe }}, "{{ server_url | safe }}");
    $('#generate-xml-form').on('change', '#method_name', show_hide_form_fields);

    var height = $("#generate-xml-form").height();
    var generate_xml_btn_offset = $("#generate_xml_btn").offset().top;
    var method_form_offset = $("#method_form").offset().top;
    var newHeight = height - method_form_offset + generate_xml_btn_offset;
    $('#method_form').css({'height': newHeight + 'px'});

    $('#generate-xml-form').on('change', '#method_name', function () {
        var height = $("#generate-xml-form").height();
        var generate_xml_btn_offset = $("#generate_xml_btn").offset().top;
        var method_form_offset = $("#method_form").offset().top;
        var newHeight = height - method_form_offset + generate_xml_btn_offset;
        $('#method_form').css({'height': newHeight + 'px'});
    });

    window.onresize = function (event) {
        var height = $("#generate-xml-form").height();
        var generate_xml_btn_offset = $("#generate_xml_btn").offset().top;
        var method_form_offset = $("#method_form").offset().top;
        var newHeight = height - method_form_offset + generate_xml_btn_offset;
        $('#method_form').css({'height': newHeight + 'px'});
    };
    add_xml_form_listener();

</script>