table, tr, td, th {
    border-collapse:collapse;
    border: 1px solid gray;
}
tr:not([data-level='3']) {
    cursor:pointer;
    font-weight: bold;
}
tr.expanded .sign:after {
    content:"-";
}
tr.folded .sign:after {
    content:"+";
}
td:first-child {
    padding: inherit;
}

tr[data-level='1'] {
    margin-left: 5%;
}